@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1></h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
         </div>
        <div>
            <p class=".main-content">
                Welcome to the Drexel University Maintenance Web Application for Maintaining enrollment information. <br />
                This page allows you to View, Add, Edit, and Delete... Students, Instructors, Courses.<br />
                You can also assign Instructors to thier respective Departments as well as the Courses they teach. <br />
                Once the course and faculty information is properly set up, The students page can be accesses to <br /> 
                enroll students for their classes. 

            </p>
        </div>
    </section>
}

